<footer>
    <section class="contacto" id="contacto">
        <div class="contenedor-contacto">
            <h2>Contacto</h2>
            <div class="fila">
                <div class="col">
                    <div class="info">
                        <h3>Email:</h3>
                        <p>mmejiat8@miumg.edu.gt</p>
                    </div>
                    <div class="info">
                        <h3>Teléfono:</h3>
                        <p>50523248</p>
                    </div>
                    <div class="info">
                        <h3>País</h3>
                        <p>Guatemala</p>
                    </div>
                    <div class="info">
                        <h3>Municipio</h3>
                        <p>Santa Clara La Laguna, Sololá</p>
                    </div>
                </div>
                <div class="col">
                    <input type="text" placeholder="Nombre...">
                    <input type="text" placeholder="Correo...">
                    <textarea cols="30" rows="10" placeholder="Mensaje"></textarea>
                    <input type="submit" value="Enviar" class="btn">
                </div>
            </div>
        </div>
    </section>
</footer>
